header {
    height: 90px;
    width: 100vw;
    position: fixed;
    top: 0;
    border-bottom: 1.5px solid #a9a9a9;
    z-index: 80;
    background: #3d9e56;
    border-bottom: none;
    border-bottom: 5px solid #3d9e56;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: wrap;
    width: 100vw;
    height: 100%;
}

#header-logo {
    max-width: 200px;
    width: 120px;
    height: auto;
    /* margin-left: 15px;
    margin-top:5px; */
    margin: 5px 0 0 15px;
    flex: 2 1 100px;
}

.hamburger {
    display: flex;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    transform-origin: 6px 1px;
    margin-right: 15px;
    margin-bottom: 4px;
    flex: 2 1 30px;
    transition: all 150ms ease-in-out 0s;
}

.hamburger:last-of-type {
    margin-bottom: none;
}

 .open span:first-child {
    transform: rotate(45deg);
}
 .open span:nth-child(2) {
    opacity: 0;
}

 .open span:last-child {
    transform: rotate(-45deg);
}

.overlay {
    position: fixed;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: black;
    opacity:.5;
    transition: all 150ms ease-in-out 0s;
}

.display-nav-for-mobile {
    position: fixed;
    margin: 0 auto;
    top: 89px;
    width: 100%;
    background: #ffffff;
    z-index: 5;
    display: flex;
    flex-flow: column; 
    transition: all 500ms ease-in-out 0s;
}

.nav-items-container a {
    display: flex;
    width: 100%;
    list-style-type: none; 
    text-transform: uppercase;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.nav-items-container a:hover {
    background: #a8d8b4;
}

.nav-items-container a:active {
    color: #ffffff;
}

@media only screen and (min-width: 901px) {
    header {
        background: #ffffff;
        height: auto;
        transition: all 500ms ease-in-out 0s;
    }
    .header-container {
        align-items: baseline;
    }
    
    #header-logo {
        content: url("../images/LOGO/FULL_logo.png");
        width: 1000px;
        margin: 5px 0 0 50px;
    }

    #nav-toggle-bar {
        display: none;
    }

    .nav-items-container {
        display: flex !important;
        margin-top: 50px;
    }

    .nav-items-container a {
        width: auto;
        padding: 5px 15px;
        font-size: 1.3em;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 916px) {
    .header-menu {
        align-items: baseline;
    }
    #header-logo {
        min-width: 200px;
    }

    .nav-toggle-bar {
        display: none;
    }

    .nav-items-container {
        margin: 5px;
    }
    
    .nav-items-container li {
        list-style-type: none; 
        display: inline-flex;
        border-right: 1px solid #000000;
        line-height: 0.5;
    }
    .header-menu li a {
        color: rgb(70, 72, 77);
        color: rgb(98, 100, 99);
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px;
    }
    
    .header-menu li:last-of-type {
        border-right: none;
        }
    
    .nav-items-container li a:visited, .nav-items-container li a:hover {
        text-decoration: none;
    }

} */

/* 
.header-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 15px 0 15px;
}

#header-logo {
    max-width: 300px;
    width: 200px;
    height: auto;
    transform: translateY(5px);
}


.nav-items-container li {
    list-style-type: none; 
    display: inline-flex;
    border-right: 1px solid #000000;
    line-height: .5;
}
 
.header-menu li a {
    color: rgb(70, 72, 77);
    color: rgb(98, 100, 99);
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.header-menu li:last-of-type {
    border-right: none;
    }

.nav-items-container li a:visited, .nav-items-container li a:hover {
    text-decoration: none;
}
 */

/* @media (max-width: 800px) {
    .nav-toggle {
        visibility: visible;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 0;
        right: 0;
    }
    .nav-toggle-bar {
        position: absolute;
        top: 40px;
        visibility: visible;
        height: 2px;
        width: 30px;
        padding: 0;
        background-color: black;
        display: inline;
    }
    .nav-toggle-bar:before {
        content: "";
        background-color: black;
        position: absolute;
        top: -10px;
        height: 2px;
        width: 100%;
    }
    .nav-toggle-bar:after {
        content: "";
        background-color: black;
        position: absolute;
        height: 2px;
        width: 100%;
        top: 10px;
    }

    .nav-toggle-bar:active, .nav-toggle-bar:active.nav-toggle-bar:before, .nav-toggle-bar:active.nav-toggle-bar:after {
        background-color:rgb(209, 110, 206);
    }
    
    .nav-items-container {
        display: none;
    }
    .nav-items-container.dropdown {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        z-index: 4;
        transform: translate(0, 80px);
        background-color: rgb(94, 94, 94);
    }

    .nav-link { 
        padding: 0;
        margin: 10px;
    }
} */