#home-container {   
    bottom: 60px;
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
}

.home-weekly-ad {
    width: 100%;
    height: 150px;
    background: url("../images/snacks.jpg");
    background-size: cover;
}
.home-weekly-ad-inner {
    text-decoration: none;
    width: 100%;
}

.home-weekly-ad-inner p {
    width: 100%;
    color: #ffffff;
    padding-top: 120px;
}

.home-weekly-ad-inner p span {
    width: 100%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.404);
}
.covid-procedures {
    /* background: url("../images/MARKETING_GRAPHICS/PNG/[02] FLAG.png");
    background-size: cover; */
    background-color: #a9a9a9;
    color: #ffffff;
    padding: 5px;
}

@media only screen and (min-width: 901px ) {
    .home-weekly-ad {
        height: 250px;
    }
}
